.hero-section {
    position: relative;
    background: url('media/Slider.jpg');
    /* Adjust path as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    z-index: 0;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.black-text1 {
    color: #ed3237;
    font-size: 3rem;
}

.red-text1 {
    color: #00afef;
    font-size: 3rem;
}

.blue-text1 {
    color: #e0ad04;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero-content p {
    margin-top: 15px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
}

.hero-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.hero-cards p {
    color: #000;
    font-size: 20px;
}

.info-card {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-card h3 {
    font-size: 20px;
    color: #000;
    margin: 0;
}

.info-card p {
    font-size: 15px;
    color: #000;
    margin: 15px 0px;
}

.icon {
    width: 28px;
    height: 28px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon.red {
    color: #ed3237;
}

.icon.blue {
    color: #00afef;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    padding: 12px 28px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.red-btn {
    background-color: #ed3237;
    color: white;
    border: none;
}

.red-btn:hover {
    background-color: #c72529;
}

.outline-btn {
    background: #c7c7c7;
    border: 1.5px solid #ffffff;
    color: #000;
}

.outline-btn:hover {
    border-color: #888;
}